@font-face {
    font-family: "Nunito-SemiBold";
    src: url("../font/Nunito-SemiBold.ttf");
}

body{
    background-color:white;
    font-family: "Nunito-SemiBold";
    overflow:hidden;
    margin: 0;

}
#wrapper {
    width: 100%;
    display: inline-block;
    position: relative;
    opacity:0;
    max-width: 100%;
    height: calc(100vh - 16px);
  }
  #wrapper:after {
    padding-top: 56.25%;
    /* 16:9 ratio */
    display: block;
    content: '';
  }
  #main {
    /*position: absolute;*/
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 50px;
    padding-top: 50px;
    background-color: rgb(0, 153, 61);
  }
.image-container{
    height:56.25vw;
}
.elements-container{
    position: absolute;


}

.bubble{
    padding: 0px;
    background: #FFFFFF;
}

.bubble:after{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 40px 0 40px 57px;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    z-index: 1;
    right: -53px;
    top: 80%;
}

#image-weather{
    height:56.25vw;
    max-height:100vh;
    position:absolute;
    right:0;
}
#city-name{
    color:white;
    padding-left:2vw;
    font-size:4vw;
}
#text-weather,#text-celsius,#text-wind{
    font-size: 3vw;
    text-align: right;
    padding-right: 4vw;
    width: 100%;
}
.box{
    background-color: white;
    margin-top: 3vw;
    width: 60vw;
    height: 10vw !important;
    display: flex;
    align-items: center;
    padding-left: 2vw;
}
.box i {
    font-size:5vw;
}
.celsius{
    padding-left: 1vw;
    width: 2.2vw;
}
.wind{
    padding-left:0.3vw;
}


#lds-ellipsis {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80px;
    height: 80px;
  }

  #lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: black;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  #lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  #lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  #lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  #lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  